body{
    background-color: lightslategray;
}

.calculator-container{
    background-color: lightcyan;
    height: 400px;
    width: 400px;
    display: grid;

    grid-template:
    "display display display display display"
    "number number number operators other"
    "number number number operators other"
    "number number number operators other"
    "zero other2 other2 operators equals";

    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.calc-display{
    grid-area: display;
    background-color: gray;
    color: lightblue;
    font-size: 4em;
    padding: auto;
    margin:auto;
    
}

.calc-numbers-1-9{

    grid-area: number;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.calc-btn{
    height: 100%;
    width: 100%;


}

.calc-equals{
    grid-area: equals;
}

.calc-operators{
    background-color: lightcoral;
    grid-area: operators;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;

}

.calc-number-0{
    grid-area: zero;
}