.calculator-container{
    border: black 10px solid;
    background-color: lightcyan;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template:
    "display display display display display"
    "number number number operators clear"
    "number number number operators other"
    "number number number operators other"
    "zero other2 other2 operators equals";
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px 13px 10px 10px;
}

.calc-display{
    border: black 2px solid;
    height: 65%;
    width: 100%;
    grid-area: display;
    background-color: lightgray;
    font-size: 4em;
    text-align: right;
}

.calc-numbers-1-9{
    grid-area: number;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.calc-btn{
    height: 100%;
    width: 100%;
}

.calc-equals{
    grid-area: equals;
}

.calc-clear{
    grid-area: clear;
}

.calc-operators{
    grid-area: operators;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

.calc-operator{
    height: 25%;
}

.calc-number-0{
    grid-area: zero;
}

.operator-btn{
    background-color: lightgray;
}

.equals-btn{
    background-color: red;
}

.clear-btn{
    background-color:orange;
}

.number-btn{
    background-color: rgb(240, 240, 240);
}

button{
    outline: none;
    border:black 1px solid;
    border-radius: 4px;
}